@using System.Net.Http.Headers
@using System.Text.Json
@using MudBlazor.Components.Service
@using Stocky.Shared.Models
@inject HttpClient Http
@inject AuthService AuthService

@if (_isLoading)
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true"/>
}
else
{
    <MudTable Items="_orderItems.Items" Hover="true" SortLabel="Сортировать по" Elevation="1" Dense="true">
        <HeaderContent>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<OrderItem, object>(x => x.Id)">Идентификатор</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<OrderItem, object?>(x => x.OrderId)">Штрихкод</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<OrderItem, object?>(x => x.ProductId)">Общий вес
                </MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<OrderItem, object?>(x => x.CreatedAt)">Общая сумма
                </MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<OrderItem, object?>(x => x.IsDeleted)">Статус</MudTableSortLabel>
            </MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Идентификатор">@context.Id</MudTd>
            <MudTd DataLabel="Штрихкод">@context.OrderId</MudTd>
            <MudTd DataLabel="Общий вес">@context.ProductId</MudTd>
            <MudTd DataLabel="Общая сумма">@context.CreatedAt</MudTd>
            <MudTd DataLabel="Статус">@context.IsDeleted</MudTd>
        </RowTemplate>
    </MudTable>

    <div class="mt-4 d-flex justify-between">
        <MudButton OnClick="Decrement" Disabled="@(_currentPage <= 1)" Color="Color.Secondary">Назад</MudButton>
        <MudText Class="mx-2">@_currentPage / @_totalPages</MudText>
        <MudButton OnClick="Increment" Disabled="@(_currentPage >= _totalPages)" Color="Color.Primary">Далее</MudButton>
    </div>
}

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = default!;
    [Parameter] public int OrderId { get; set; }

    private PageData<OrderItem>? _orderItems = new();

    private int _currentPage = 1;
    private int _totalPages = 1;
    private const int PageSize = 15;
    private bool _isLoading;

    protected override async Task OnInitializedAsync()
    {
        await LoadOrderItems();
    }

    private async Task LoadOrderItems()
    {
        _isLoading = true;

        try
        {
            var url = $"http://localhost:5191/OrderItem/GetOrderItemsByOrderId?OrderId={OrderId}&Page={_currentPage}&PageSize={PageSize}";
            var request = new HttpRequestMessage(HttpMethod.Get, url);

            request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", AuthService.Token);

            var response = await Http.SendAsync(request);
            if (response.IsSuccessStatusCode)
            {
                var json = await response.Content.ReadAsStringAsync();

                _orderItems = JsonSerializer.Deserialize<PageData<OrderItem>>(json, new JsonSerializerOptions
                {
                    PropertyNameCaseInsensitive = true
                });

                _orderItems.TotalPages = (int)Math.Ceiling((double)_orderItems.TotalCount / PageSize);
            }
            else
            {
                _orderItems.Items = [];
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Failed to load orders: " + ex.Message);
        }

        _isLoading = false;
    }

    private async Task Increment()
    {
        if (_currentPage < _totalPages)
        {
            _currentPage++;
            await LoadOrderItems();
        }
    }

    private async Task Decrement()
    {
        if (_currentPage > 1)
        {
            _currentPage--;
            await LoadOrderItems();
        }
    }

    private void Close() => MudDialog.Cancel();
}
